.Footer{
    position: relative;
    height: 700px;
    max-width: 100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

.footer-1{
    color: rgb(107, 107, 107);
    height: 50%;
    min-width: 300px;
    width: 80%;
    max-width: 400px;
    margin-left: 20vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-item-align: center;
        align-self: center;
}

.descripcion-ayuda{
    margin-top:-5%;
    text-align: justify;
}

.cont-textImg{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5%;
    font-size: .8em;
}


.tituloChico{
    margin-left: 5%;
}
.footer-1 img{
    width: auto;
    height: 30px;
}

.footer-2{
    height: 45%;
    width: 100%;
    color: rgb(136, 135, 135);
    background: var(--color1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
}

.contenedor-footer2{
    padding-top: 7%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    max-width: 1200px;
}

.div-corto{
    width: 30%;
    margin-left: 3%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 0.75em;
}

.cont-logo-redes img{
    opacity: .3;
    width: 30px;
    height: auto;
    padding-left: 5%;
}

.contenedor-enlaces-footer{
    width: 100%;
    padding: 3%;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 3%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.contenedor-enlaces-footer a{
    width: 20%;
    text-align: center;
}
.texto-medio{
    font-size: 1.23em;
}

.form-contacto-footer{
    position: absolute;
    left: 60%;
    top:5%;
    width: 40%;
    height: 60%;
    max-width: 400px;
    background: #fff;
    -webkit-box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.137),-2px -2px 5px rgba(2, 2, 2, 0.137);
            box-shadow: 2px 2px 5px rgba(2, 2, 2, 0.137),-2px -2px 5px rgba(2, 2, 2, 0.137);
}

@media(max-width: 1300px){
    .form-contacto-footer{
        position: relative;
        left: 115%;
        top:-88%;
        width: 110%;
        height: 120%;
    }
    .footer-1{
        margin-left: 15%;
        height: 50%;
        width: 30%;
    }
}
@media(max-width: 800px){
    .form-contacto-footer{
        position: relative;
        left: 0%;
        margin: 0;
        top:5%;
        height: 70%;
    }
    .footer-1{
        margin-bottom: 70%;
        margin-left: 7%;
        height: 50%;
        width: 70%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .cont-textImg{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}