

.Nav{
    position: relative;
    background:var(--color1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.logo-img{
    padding-left: 20px;
    padding-right: 15px;

    -ms-flex-item-align: center;

        align-self: center;
}
.img-anadir{
    height: 60%;
    padding-right: 15px;
}
.boton-anadir{
    height: 100%;
    width: auto;
    background: none;
    border: none;
    outline-style: none;
}
.user-logo{
    height: auto;
    width: 40px;
    border-radius: 50%;
    padding-bottom: 5%;
}
.boton-anadir:hover{
    height: 98%;
}

.enlace-nav{
    color: var(--color0);
    font-size: .8em;
    padding: 2%;
    text-decoration: none;
    -ms-flex-item-align: center;
        align-self: center;
}
.enlace-nav:hover{
    border-width: 0 0 3px 0;
    background: rgba(0, 0, 0, .2);
    border-radius: 10%;
}

.img-menu-p{
    height: 80%;
}
.boton-menu-p{
    height: 100%;
    width: auto;
    background: none;
    border: none;
    outline-style: none;
}
.botonesNav a{
    text-decoration: none;
}
.menuOpt a{
    text-decoration: none;
}

.boton-menu-p:hover{
    padding-top: 3px;
}
.triangulo{
    height: auto;
    width: 50%;
    padding: 3px;
}

.boton-user{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 20%;
    margin-right: 7%;
}

.flechaAzul {
    position: absolute;
    top: -3%;
    right: 115px;
	height: 0px; width: 0px;
    border: 12px solid;
	border-color: 
        var(--color2)
        var(--color2)
		transparent
		transparent;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}
.flechaBlanca {
    position: absolute;
    top: -5%;
    right: 40px;
	height: 0px; width: 0px;
    border: 12px solid;
	border-color: 
        var(--color0)
        var(--color0)
		transparent
		transparent;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.menuUsers{
    position: absolute;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    height: 30vh;
    min-height: 300px;
    right: 0%;
    top: 105%;
    background: var(--color2);
    color: var(--color0);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 1.1em;
    border-radius: 10px;
}
.cont-datosNav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 25%;
    margin-left: 10%;
}

.botonesNav{
    display: block;
    width: 100%;
    height: 60%;
    

}
.botonDesconectar{
    text-align: center;
    width: 40%;
    height: 15%;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.datosNav{
    margin-left: 5%;
}

.botonesNav a{
    background: var(--color3);
    display: block;
    height: 16%;
    padding-left: 5%;
    padding-top: 3%;
   
}

.menuUsers a:hover{
    background: rgba(0, 0, 0, .1);
    
}

.menuOpt{
    position: absolute;
    width: 20%;
    max-width: 250px;
    min-width: 150px;
    height: 10vh;
    min-height: 150px;
    right: 0%;
    top: 105%;
    background: var(--color0);
    color: rgb(43, 37, 37);
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.1em;
    border-radius: 10px;
    border: 1px solid var(--color5);
}
.menuOpt a{
    padding-left: 10%;
    height: 20%;
}
.menuOpt a:hover{
    background: var(--color4);
}
@media(max-width: 700px){
    
    .Nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; 
    }
    .nav2{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        width: 100%;
        height: 50px;
    }
    .logo-img{
        padding-left: 0px;
        padding-right: 15px;
    }
    .nav{
        display: -webkit-box;
        display: -ms-flexbox;   
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        
    }
}