

.Nav{
    position: relative;
    background:var(--color1);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

.nav1{
    display: flex;
    justify-content:center;
}
.logo-img{
    margin-left: 20px;
    margin-right: 15px;

    align-self: center;
}
.img-anadir{
    height: 60%;
    text-align: center;
}
.boton-anadir{
    height: 100%;
    width: auto;
    background: none;
    border: none;
    outline-style: none;
}
.user-logo{
    height: auto;
    width: 40px;
    border-radius: 50%;
    padding-bottom: 5%;
}
.boton-anadir:hover{
    height: 98%;
}

.enlace-nav{
    color: var(--color0);
    font-size: 1em;
    padding: 2%;
    text-decoration: none;
    align-self: center;
}
.enlace-nav:hover{
    border-width: 0 0 3px 0;
    background: rgba(0, 0, 0, .2);
    border-radius: 10%;
}

.img-menu-p{
    height: 80%;
}
.boton-menu-p{
    height: 100%;
    width: auto;
    background: none;
    border: none;
    outline-style: none;
}

.boton-menu-p:hover{
    padding-top: 3px;
}
.triangulo{
    height: auto;
    width: 50%;
    padding: 3px;
}

.boton-user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-right: 7%;
}

.flechaAzul {
    position: absolute;
    top: -3%;
    right: 115px;
	height: 0px; width: 0px;
    border: 12px solid;
	border-color: 
        var(--color2)
        var(--color2)
		transparent
		transparent;
	transform: rotate(-45deg);
}
.flechaBlanca {
    position: absolute;
    top: -5%;
    right: 40px;
	height: 0px; width: 0px;
    border: 12px solid;
	border-color: 
        var(--color0)
        var(--color0)
		transparent
		transparent;
	transform: rotate(-45deg);
}

.menuUsers{
    position: absolute;
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    height: 30vh;
    min-height: 300px;
    right: 0%;
    top: 105%;
    background: var(--color2);
    color: var(--color0);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    font-size: 1.1em;
    border-radius: 10px;
}
.cont-datosNav{
    display:flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 25%;
    margin-left: 10%;
}

.botonesNav{
    display: block;
    width: 100%;
    height: 60%;
    

}
.botonDesconectar{
    text-align: center;
    width: 40%;
    height: 15%;
    align-self: flex-end;
}

.datosNav{
    margin-left: 5%;
}

.botonesNav a{
    background: var(--color3);
    display: block;
    height: 16%;
    padding-left: 5%;
    padding-top: 3%;
   
}

.menuUsers a:hover{
    background: rgba(0, 0, 0, .1);
    
}

.menuOpt{
    position: absolute;
    width: 20%;
    max-width: 250px;
    min-width: 150px;
    height: 10vh;
    min-height: 150px;
    right: 0%;
    top: 105%;
    background: var(--color0);
    color: rgb(43, 37, 37);
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-size: 1.1em;
    border-radius: 10px;
    border: 1px solid var(--color5);
}
.menuOpt a{
    padding-left: 10%;
    height: 20%;
}
.menuOpt a:hover{
    background: var(--color4);
}