.Buscador{
    background: var(--color2);
    width: 40%;
    max-width: 300px;
    min-width: 150px;
    border-radius: 25px;
    display: flex;
    align-items: center;

}

.Buscador button{
    background: none;
    border: none;
    margin-left: 5%;
}
.Buscador button:focus{
    outline-style: none;
    
}

.Buscador button img:hover{
    cursor: pointer;
}
.Buscador input{
    width: 70%;
    padding-left: 7%;
    background: none;
    border: none;
    color: var(--color0);
}
.Buscador input:focus{
    outline-style: none;
}