.Buscador{
    background: var(--color2);
    width: 40%;
    max-width: 300px;
    border-radius: 25px;
    margin-left: 3%;
    display: flex;
    align-items: center;

}

.Buscador button{
    background: none;
    border: none;
}
.Buscador button:focus{
    outline-style: none;
}

.Buscador button img{

}
.Buscador button img:hover{
    transform: translate(-3px);
    padding-left: 3px;
}
.Buscador input{
    width: 70%;
    padding-left: 7%;
    background: none;
    border: none;
    color: var(--color0);
}
.Buscador input:focus{
    outline-style: none;
}